
.card {
	border-radius: 18px;
  background: white;
  box-shadow: 2px 2px 12px rgba(0,0,0,0.9);
  width: 300px;
	padding: .75rem;
	height: 25rem;
}

.card img {
	width: 100%;
	height: 200px;
	border-radius: 15px;
	object-fit: cover;
}

.card .card-title {
  margin-top: 16px;
	margin-bottom: 16px;
	text-align: center;
}

.card p {
  color: #7f8c9b;
  line-height: 150%;
	margin: 0 1rem;
}

.variant1 {
	height: 20rem;
	display: flex;
	align-items: center;
	flex-direction: column;
}

.variant1 img {
	position: relative;
	border-radius: 50%;
}

.variant1 .img-container {
	background-color: white;
	border: 5px solid black;
	border-radius: 50%;
	position: relative;
	top: 20px;
	width: 75%;
}

.variant1 .card-title {
	margin-bottom: 16px;
	text-align: center;
}

.variant2 {
  width: 350px;
	height: 30rem;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.variant2 .card-title {
	margin-bottom: 16px;
	text-align: center;
}