@import url('https://fonts.googleapis.com/css2?family=Glory:ital,wght@0,100..800;1,100..800&family=Jersey+15&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


html {
	font-family: "Poppins", "sans-serif";
	font-size: 16px;
  line-height: 1.5;
  color: #333;
}

body {
	display: grid;
	grid-template-columns: 360px 1fr;
	min-height: 100vh;
}

aside {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 25px;
	padding-bottom: 0;
	position: relative;
}

aside::before {
	content: '';
	position: absolute;
	height: 25%;
	width: 100%;
	background-color: #e03131;
	top: 0;
	left: 0;
}

.pfp-img-container {
	position: relative;
	height: 270px;
	width: 270px;
	padding: 3px;
	background-color: #e03131;
	border-radius: 50%;
	margin-bottom: 10px;
}

.pfp-img-container img {
	height: 100%;
	width: 100%;
	border-radius: 50%;
	border: 3px solid white;
}

.name {
	font-weight: 500;
	font-size: 22px;
	text-align: center;
}

.aliasses {
	display: flex;
}

.badge {
	border-radius: 15px;
	padding: .25rem .75rem;
	margin: 1rem;
	color: oklch(44.4% 0.177 26.899);
	background-color: oklch(88.5% 0.062 18.334);
}

.occupation {
	margin: .5rem;
	font-size: 20px;
	padding: .75rem;
	width: 100%;
	border: 3px solid #e03131;
	text-align: center;
}

.extra-info {
	margin: .25rem;
}

.extra-info i {
	margin-right: .5rem;
}

.extra-info span {
	font-weight: 500;
}

.extra-info p {
	font-weight: 300;
	margin: 1.5rem 0;
}

main {
	background-color: green;
}